<%- if comment.persisted? %>
  <table class="table">

    <tr>
      <%= comment.body %><br>
      <small>on <%= comment.created_at %></small>
    </tr>
  </table>

  <p>
      <%= link_to 'Delete Comment', [comment.design, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </p>
<%- end -%>
