<%- if comment.persisted? %>
<br>
<div class="panel panel-default panel-body">
  <%= comment.body %><br>
  <small>on <%= comment.created_at %></small><br>
</div>

<p>
  <%= link_to 'Delete Comment', [comment.design, comment],
  method: :delete,
  data: { confirm: 'Are you sure?' } %>
</p>
<%- end -%>
